.weather {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__bg {
        position: fixed;
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
    }

    &__title {
        color: $titleColor;
        @include fluid-type (320px, 1920px, 32px, 120px);
        letter-spacing: 2px;
        text-shadow: 5px 5px 5px #000000;
        margin: 0 0 60px 0;

    }

    &__form {
        max-width: 600px;
        width: 80%;
        margin: 0 0 40px 0;
    }

    &__city {
        display: block;
        width: 100%;
        padding: 10px 20px;
        outline: none;
        background-color: $inputBGcolor;
        color: #ffeeee;
        @include fluid-type (320px, 1920px, 15px, 35px);
        border: 3px solid $inputBorderColor;
        border-radius: 20px;
        &--error {
            border-color: $inputBorderColorError;
        }
    }

    &__location {
        color: $titleColor;
        @include fluid-type (32px, 1920px, 15px, 45px);
        font-family: $headerFontFamily;
        letter-spacing: 2px;
        text-shadow: 2px 2px 2px #000000;
        margin: 0 0 20px 0;
    }

    &__info {
        padding: 20px;
        border-radius: 30px;
        background-color: #00000080;
        color: #ffeeee;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    &__temp {
        display: flex;
        align-items: flex-start;
        gap: 5px;
    }

    &__num {
        font-size: 50px;
    }

    &__unit {
        font-size: 20px;
    }

    &__text {
        margin: 0 0 6px 0;
        font-size: 14px;

        &:last-of-type {
            margin: 0;
        }
    }
    &__error {
        border-radius: 10px;
        padding: 10px;
        color: #ffeeee;
        background-color: #b40a0ab6;
        font-weight: 700;
    }

    &__loader {
        display: none;
    }
}